﻿@model IEnumerable<Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>生年月日</th>
        <th>年齢</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        var today = DateTime.Today;
        var age = today.Year - item.BirthDate.Year;
        if (today.Month < item.BirthDate.Month ||
            today.Month == item.BirthDate.Month && today.Day < item.BirthDate.Day)
        {
            age -= 1;
        }

        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.BirthDate.ToString("yyyy年MM月dd日")</td>
            <td class="text-right">@age 歳</td>
        </tr>
    }
    </tbody>
</table>