﻿@model IEnumerable<Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>生年月日</th>
        <th>年齢</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.BirthDate</td>
            <td>@item.Age()</td>
        </tr>
    }
    </tbody>
</table>